SIEMED_STATION_NAME=Кабинет сестринского дела
SIEMED_TIMEZONE=Asia/Yekaterinburg
SIEMED_SECRET=change-me-on-install
SIEMED_LAN_HOST=0.0.0.0
SIEMED_LAN_PORT=8080
SIEMED_TABLET_HOST=0.0.0.0
SIEMED_TABLET_PORT=8070
SIEMED_PUBLIC_HOST=0.0.0.0
SIEMED_PUBLIC_PORT=9080
SIEMED_PUBLIC_URL=http://127.0.0.1:9080
SIEMED_DATA_DIR=/var/lib/siemed
SIEMED_NVR_HOST=192.168.0.99
SIEMED_NVR_USER=admin
SIEMED_NVR_PASSWORD=12345
SIEMED_MPV_SCREEN=1
SIEMED_PLAYER_ENABLED=true
